images
./env/bin/pandoc
./env/lib/libcufft.so.10.0.145
./env/lib/libmkl_mc.so
./env/lib/libcusolver.so.10.0.130
./env/lib/libmkl_avx512_mic.so
./env/lib/libcurand.so.10.0.130
./env/lib/libmkl_mc3.so
./env/lib/libcusparse.so.10.0.130
./env/lib/libmkl_avx2.so
./env/lib/libmkl_core.so
./env/lib/libnppif.so.10.0.130
./env/lib/libnvgraph.so.10.0.130
./env/lib/python3.6/site-packages/torch/lib/libcaffe2.so
./env/lib/python3.6/site-packages/torch/lib/libcaffe2_gpu.so
./env/lib/libmkl_avx512.so
./env/lib/libcublas.so.10.0.130
./env/lib/libmkl_avx.so
